services:
  bot:
    build: .
    container_name: discord-bot
    restart: unless-stopped
    environment:
      DISCORD_TOKEN: ${DISCORD_TOKEN}
      CLIENT_ID: ${CLIENT_ID}
      MONGO_URI: ${MONGO_URI}
      YTDLP_PATH: /usr/local/bin/yt-dlp